<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <!-- Define extensible title block  -->
    <title>{% block title %}Stock Info{% endblock title %} - Stock App</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <!-- url_for generates proper path for supplied route -->
        <a href="{{ url_for('home_page') }}" class="navbar-brand">Stock App</a>
        <ul class="navbar-nav mr-auto">
            <!-- Add active class if on the homepage -->
            <!-- 'request.url_rule.endpoint' grabs the url for the current page -->
            <li class="nav-item {% if request.url_rule.endpoint == 'home_page' %} active {% endif %}">
                <a href="{{ url_for('home_page') }}" class="nav-link">HOME</a>
            </li>
        </ul>
    </nav>

    <div class="container mt-3">
        <!-- extensible content block -->
        {% block content %}
            Add some content, extend the content block in your template!
        {% endblock content %}
    </div>

</body>
</html>