<!-- Tell Jinja you're using a template -->
{% extends 'base_layout.html' %}

{% block title %}{{ticker}} Quote{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <!-- 'upper filter will trasnform text to upper case' -->
            <h1 class="mb-3">{{ticker | upper}}</h1>
            <hr />
            <!-- 'round' filter allows you to transform numeric data -->
            <!-- arguments are the desired precision, and method to use -->
            <!-- method must be a string -->
            <h2>Price: ${{price | round(2, 'floor')}}</h2>
        </div>
        <div class="col">
            <!-- call the 'popular_stocks' partial -->
            {% include 'popular_stocks.html' %}
        </div>
    </div>
{% endblock content %}